:root {
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --favouriteGreen: #097;
  --favouriteBlue: #059;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--favouriteGreen) !important;
}

.text-title {
  font-family: 'Open Sans';
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.text-green {
  color: var(--favouriteGreen); 
}
.text-green2 {
  color: #095;
  margin-left: 5px;
}
.text-green3 {
  color: #09a;
}

.text-green4 {
  color: #09a;
}


@media all and (max-width: 480px) {
  .text-green3 {
    font-size: 1.2rem;
  }
  .text-green4 {
    font-size: 0.9rem;
  }
}